#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}



@media only screen and (max-width: 750px) {
    main.container div.row {
        flex-direction: column;
    }
    main.container .row .column {
        width: 100%
    }
}
